@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


#projetos,
#sobre {
  margin-top: 100px;
  margin-bottom: 100px;
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.projeto-card {
  background-color: var(--cor-de-fundo-card);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: var(--transicao);
  padding: 1.5rem;
}

.projeto-card:hover {
  transform: translateY(-5px);
}

.titulo-projeto {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  color: var(--cor-secundaria);
}

.projeto-tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.projeto-tags span {
  background-color: var(--cor-auxiliar);
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  font-size: 0.75rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.inicio {
  display: inline-block;
  width: fit-content;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #f7f7f2;
  border: 1px solid #1e1e24;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  background: #1e1e24;
  transition: all 0.5s;
  align-content: center;
  align-items: center;
}